@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}


@plugin "daisyui/theme" {
  name: "light";
  default: true;


  --color-primary: #D4AF37;   
  --color-secondary: #7D2E2E; 
  --color-accent: #9E9E9E;    
  --color-neutral: #1A1A1A;  
  --color-base-100: #ffffff;  
}

* {
  font-family: "Urbanist", sans-serif;
}

a.active {
  @apply text-primary  border-b-2 border-primary font-bold;
}